[default]
cli_pager = ""
output = yaml
[profile dev]
region = ap-southeast-2
[profile search]
region = eu-west-1
[profile silvercloud]
region = eu-west-2
[profile tcs-np]
region = eu-west-1
[profile tcs-prod]
region = eu-west-1
[profile protected]
region = ap-southeast-2
source_profile = dev
role_arn = arn:aws:iam::519990849220:role/ExternalAdministrator
role_session_name = {{ .auth.artifactory.username }}
