
git:
  autoPush: true

data:
  fullname: {{ promptString "Full name" }}
  auth:
    github:
      token: {{ promptString "GitHub PAT" }}
    bamboo:
      token: {{ promptString "Bamboo PAT" }}
    gitlab:
      username: {{ promptString "GitLab username" }}
      token : {{ promptString "GitLab PAT" }}
    artifactory:
      username: {{ promptString "Artifactory username" }}
      password: {{ promptString "Artifactory API token" }}
    docker:
      username: {{ promptString "Docker.io username" }}
      password: {{ promptString "Docker.io access token" }}
    pypi:
      token: {{ promptString "PyPi token" }}
    testpypi:
      token: {{ promptString "Test PyPi token" }}

