
git:
  autoPush: true

data:
  auth:
    gitlab:
      pat: {{ promptString "gitlab pat" }}
    artifactory:
      username: {{ promptString "Artifactory username" }}
      password: {{ promptString "Artifactory API token" }}
    pypi:
      token: {{ promptString "PyPi token" }}
    testpypi:
      token: {{ promptString "Test PyPi token" }}

