{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh
echo "Running Linux package install"

# Allow docker to use podman's auth file
mkdir -p $HOME/.docker && ln --force --symbolic $HOME/.cache/containers/auth.json $HOME/.docker/config.json

# Symlink so rsync etc can benefit from user's gitignore
ln --force --symbolic $HOME/.gitignore $HOME/.cvsignore

# Debian family install
{{ if eq ( coalesce ( get .chezmoi.osRelease "idLike" ) .chezmoi.osRelease.id ) "debian" -}}

# Configure work repository, remote depending on distro
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt-add-repository --yes --no-update "deb [trusted=yes] https://artifactory-bne.silverrail.io/artifactory/Ubuntu-Virtual $(lsb_release -sc) main"
{{ else -}}
sudo apt-add-repository --yes --no-update "deb [trusted=yes] https://artifactory-bne.silverrail.io/artifactory/Debian-Virtual $(lsb_release -sc) main"
{{ end -}}
ln --force --symbolic $HOME/.config/apt/auth.conf

sudo apt update
sudo apt upgrade --yes

# Jammy install podman from out-the-box repositories
{{ if eq ( coalesce ( get .chezmoi.osRelease "ubuntuCodename" ) .chezmoi.osRelease.versionCodename ) "jammy" -}}
sudo apt install -y podman
{{- end }}

# Focal add repository and install podman
{{ if eq ( coalesce ( get .chezmoi.osRelease "ubuntuCodename" ) .chezmoi.osRelease.versionCodename ) "focal" -}}
echo "deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_$(lsb_release -rs)/ /" | sudo tee /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list
curl -L "https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_$(lsb_release -rs)/Release.key" | sudo apt-key add -
sudo apt-get update
sudo apt-get install -y podman

{{- end }}
{{- end }}
{{- end }}
