[pypi-token]
testpypi = {{ .auth.testpypi.token | quote }}
pypi = {{ .auth.pypi.token | quote }}

[http-basic]
[http-basic.artifactory]
username = "{{ .auth.artifactory.username }}"
password = "{{ .auth.artifactory.password }}"
